* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Roboto', serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
body {
    background-color: rgb(251, 246, 237);
}
form {
    padding-bottom: 25px;
}
h1, h2, h3, h4 {
    color: #324954;
}
h1 {
    padding: 25px;
}
h2 {
    padding: 10px;
}
h5 {
    letter-spacing: 0.1em;
    color: #F3F6F4;
}
iframe {
    max-width: 80%;
    box-shadow: 0 0 23px 0 rgb(158 158 158);

}
button, #backButton {
    letter-spacing: 0.1em;
    outline: inherit;
    background: none;
    border: none;
    color: #F3F6F4;
    background-color: #405c6a;
    font-family: inherit;
    border-radius: 5px;
    box-shadow: 0 0 23px 0 rgb(158 158 158);
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}
button:hover, #backButton:hover {
    transition:.1s ease-in-out;
    background-color: #324954;
}
button:active, #backButton:active {
    transition:.1s ease-in-out;
    background-color: #9fd18b;
}
input, #loginButton{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 23px 0 rgb(158 158 158);
    padding:10px;
    width: 60%;
    height: 3em;
    font-size: 16pt;
}
input:focus::placeholder {
    color: transparent;
}
img {
    padding: 25px;
    width: 7em;
    height: 7em;
}
#backButton {
    z-index: 99;
    min-width: 7em;
    min-height: 3em;
    background-image: url(../img/back_arrow.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
    background-size: contain;
    margin: 2em;
    align-self: flex-start;
    position: absolute;
    background-color: #55405c;
}
#partNumber {
    font-size: 2em;
    color: #324954;
}
#lock {
    opacity: 60%;
}
#username {
    font-size: 4em;
    color: #56425c;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
#usernameInput, #passwordInput {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
#usernameInput {
    background-image: url(../img/user.png);
}
#passwordInput {
    background-image: url(../img/key.png);
}
#loginButton, .logPageButton > button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/login.png);
}
#inputContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 50%;
    align-items: center;
}
#inputContainer> h1 {
    padding: 0;
}
#inputContainer> .user {
    padding: 0;
    min-width: 12em;
    min-height: 12em;
}
#logContainer {
    height: 80vh;
}
#logContainer> img {
    padding-bottom: 1em;
    width: 10em;
    height: 10em;
}

#logContainer, h2 {
    color: #324954;
}
#buttonContainer {
    padding:25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3em;
    width: 80%;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #405c6a;
    min-height: 3.25rem;
}

footer {
    background-color: #405c6a;
    min-height: 3.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
main {
    grid-column: 1 / 1;
    height: calc(100vh - 174px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optionContainer {
    grid-column: 1 / 1;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partsContainer {
    padding: 25px 25px 25px 25px;
    grid-column: 1 / 1;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 0.1em;
    align-items: center;
    text-align: center;
}

.partsContainer {
    width: 60%;
}

#serial {
    text-align: center;
    color: #324954;
}

.partsContainer, #input-desc {
    color: #324954;
    text-decoration: none;
}

.courseContainer {
    height: calc(100vh - 174px);
    width: 100vw;
    column-gap: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}
.course {
    height: 100%;
    width: 100%;
}
.courseDetails {
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.courseDetails > h2 {
    padding: 15px;
}
.videoContainer {
    text-align: center;
    height: 80%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allVideosContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    box-shadow: inset 0 7px 9px -7px rgb(158 158 158);
    row-gap: 0.5em;
}
.sideBar {
    overflow-y: hidden;
    flex: 1 2 auto;
    height: 100%;
    width: 100%;
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 23px 0 rgb(158 158 158);
}
.sideBarItem {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 100%;
    height: 3em;
    font-size: 16pt;
}
.playButton {
    padding-right: 1.5em;
}
.inputForm {
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    align-items: center;
}
.error {
    width: 2em;
    height: 2em;
    padding: 25px;
    animation: 1s ease-out 0s 1 slideIn;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/modal/error.png);
}

.navItem {
    width: 100%;
    height: 3em;
}
.navItem img {
    padding: 0;
    width: auto;
    height: 3.25em;
}
.dot {
    overflow: visible;
    position: relative;
    min-height: 8em;
    min-width: 8em;
    background-color: #405c6a;
    border-radius: 50%;
    outline: none;
    transition:.1s ease-in-out;

}
.dot:hover {
    background-color: #324954;
    transition:.1s ease-in-out;
}
.dotActive {
    position: relative;
    min-height: 8em;
    min-width: 8em;
    background-color: #9fd18b;
    border-radius: 50%;
    outline: none;
    transition:.1s ease-in-out;
}
.dot > img {
    padding: 15px;
    max-height: 100%;
    max-width: 100%;
}
.dot > h5 {

}
.miniDot {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5em;
    width: 3.5em;
    background-color: #9fd18b;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/login.png);
}
.count {
    font-size: 2.5em;
    line-height: 5vh;
    vertical-align: middle;
    font-weight: bold;
    color: rgb(251, 246, 237);
}
.logHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playIcon, .lockedIcon {
    padding: 0;
    width: 2em;
    height: 2em;
}
.playIcon:hover {
    mix-blend-mode: difference;
    cursor: pointer;
}
#lock:hover {
    opacity: 80%;
    cursor: pointer;
}
.serial {
    text-align: center;
}
#barcode {
    width: 15em;
    height: 10em;
}

.logPageButton {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    text-align: center;
}
.logPageButton > button {
     height: 80%;
     width: 50%;
     font-size: 3em;
}
@font-face {
    font-family: Roboto;
    src: url(../css/fonts/Roboto-Light.ttf);
    src: url(../css/fonts/Roboto-Light.ttf);
}

a {
    text-decoration: none;
}

.help-image-description {
    visibility: hidden;
}

.navItem:hover .help-image-description {
    visibility: visible;
    color: #F3F6F4;
    font-size: 20px;
    text-align: center;
    text-decoration: underline black;
}


#input-desc {
    color: #324954;
}
/* MOBIL/TABLET VISNING */
@media only screen
and (min-device-width : 320px) and (max-device-width: 1366px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    h5 {
        font-size: 1em;
    }
    button {
        height: 80%;
        width: 50%;
        font-size: 3em;
    }
    footer {
        display: none;
    }
    .navbar {
        min-height: 5rem;
    }
    .navItem img {
        height: 5em;
    }
    .logPageButton {
        width: 100%;
        height: 100%;
        padding-bottom: 25px;
        text-align: center;
    }
    .logPageButton > button {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/login.png);
    }
    #loginButton {
        width: 80%;
        height: 30%;
    }
    #backButton {
        min-width: 8em;
        min-height: 4em;
    }
    #inputContainer {
        width: 80%;
        height: 100%;
    }
    #inputContainer> .user {
        padding: 0;
        min-width: 24em;
        min-height: 24em;
    }
    #logContainer > button {
        width: 100%;
        height: 100%;
    }
    #barcode {
        min-width: 24em;
        min-height: 16em;
    }
    input {
        font-size: 3em;
        width: 80%;
    }
    #buttonContainer {
        margin-top: 1em;
    }
    #buttonContainer > a {
        width: 100%;
    }
    .inputForm {
        height: 30em;
        justify-content: space-evenly;
    }
    .bigButton {
        min-width: 8.5em;
    }
    .partsContainer {
        width: 70%;
    }
}
@keyframes slideIn {
    0% {
        padding: 0;
        opacity: 0;
        max-height: 0;
    }
    100% {
        opacity: 1;
        padding: 25px;
        max-height: 5em;
    }
}